.header {
    background: transparent;
    height: 50px;

    .global-header {
        padding: 30px;
    }

    &__logo {
        font-size: 25px;

        &:hover {
            text-decoration: none;
            color: $accent-color;
        }

        &-text {
            color: white;

            &:hover {
                color: $accent-color;
            }
        }
    }
}

.target-twitter {
    transition: 0.5s;
    transform: rotateY(0deg);

    &:hover {
        transform: rotateY(360deg);
    }
}