.usage {
    width: 80%;
    margin: 130px auto;
    padding: 100px 0;
    color: black;
    background-color: #fff;
    box-shadow: inset 2px 2px 5px #dfe4ea, inset -5px -5px 10px #fff;

    &__keyword {
        width: 60%;
        margin: 50px auto 0;
        &__title {
            border-left: 7px solid $base-color;
            padding-left: 20px;
        }

        &__description {
            
        }
    }
}
