@mixin btn-action($color, $width, $center) {
    border: 2px solid #000;
    border-radius: 0;
    background: $color;
    height: 50px;
    width: $width;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        content: "";
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background: yellow;
    }
    &:hover {
        color: black;
        background: yellow;
    }
    &:hover::before {
        background: #fff;
    }
    @if $center==True {
        margin: auto;
        text-align: center;
    }
}
